@charset "UTF-8";

.client-request {
    display: flex;
    width: 100%;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}

.client-request > textarea {
    display: block;
    width: 100%;
    min-height: 10vh;
    resize: none;
    background: black;
    color: white;
}

.client-history {
    max-height: 60vh;
    overflow: auto;
    margin: 10px 5px;
    scroll-behavior: smooth;
}

.chat {
    padding: 10px;
    word-break: break-word;
    border: 1px double gray;
    border-radius: 10px;
    display: inline-block;
    max-width: 60vw;
}

.my-chat, .other-chat {
    margin: 10px 0;
}

.my-chat {
    text-align: right;
}

.other-chat {
    text-align: left;
}