<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swinnus A/S</title>
    <link href="/style/default.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.css" rel="stylesheet">
    <script async src="/script/welcome.js"></script>
    <script defer src="/script/default.js"></script>
    <script defer src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</head>
<body>
<header class="waiting-header"></header>
<section class="waiting-explain"></section>
<article>
    <section class="client-history"></section>

    <form class="client-request">
        <textarea></textarea>
        <button type="submit" class="btn btn-danger">Send</button>
    </form>
</article>
</body>
</html>